[ req ]
default_bits       = 2048
default_keyfile    = ca.key
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca
prompt             = no

[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = California
localityName                = San Francisco
organizationName            = Example Inc.
commonName                  = My CA

[ v3_ca ]
subjectAltName = @alt_names
basicConstraints = CA:TRUE

[ alt_names ]
IP.1 = 127.0.0.1
IP.2 = ::1
