[flake8]
max-line-length = 200
max-complexity = 10
select = C,E,F,W,B,B950
ignore = E203,E501,W503,E741
exclude =
    .git,
    __pycache__,
    *.egg-info,
    .pytest_cache,
    .mypy_cache,
    p2pfl/proto