[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytorch-lightning = "==1.6.5"
notebook = "*"
pytest = "*"
pytest-cov = "*"
torchvision = "==0.12.0"
sphinx = "*"
myst-parser = "*"
furo = "*"
pycryptodome = "*"
black = "*"
torch = "==1.11.0"
torchmetrics = "==0.7.3"

[dev-packages]
torch-tb-profiler = "*"

[requires]
python_version = "*"
